@import url("https://fonts.googleapis.com/css?family=Raleway:900");
body{
    background: rgb(208,208,208);
    background: linear-gradient(90deg, rgba(208,208,208,1) 0%, rgba(251,248,248,1) 47%, rgba(208,208,208,1) 100%);
}

.botTemp{
    font-size: x-small !important;
    border-radius: 20px !important;
}
.NumTempe{
    position: relative;
    left: 20%;
    text-shadow: 10px 10px 5px lightcoral;
    color:pink;  
    font-size: 70px !important;
    font-weight: 800 !important;
    font-family: Raleway;
    margin: 5px;
}

.root{
    margin-top:100px !important ;
}

.botoPrinc{
    width: 90%;
    border-radius: 20px !important;
    margin:10px !important;
    position: relative;
    left:5%;
}
.botoPirncBox{
    width: 100%;
}

.logoAlco{
    opacity: 0.6;
    width: 60%;
}
.QrBoxinga{
    flex-grow: 1;
    padding:20px ;
    background-color: white;
    border-radius: 25px;
    text-shadow: 1px 2px 2px grey;
}