.logoMossen{
    width: 25ch;
    margin: 20px;
}


.logoAlcoxide{
    position: relative;
    left: 20% !important;
}

.botonets{
    width:300px;
    border-radius: 20px !important;
    margin: 35px 0px;
    padding:5px !important ;
    justify-content: center !important;
}


