.logoMossen{
    width: 25ch;
    margin: 20px;
}

.logoAlcoxideBox{
margin-top:10% !important;
}
.logoAlcoxide{
    position: relative;
    left: 20% !important;
}

.botoGoogle{
    width:300px;
    margin: 20px;
    position: relative;
}

.botoAdmin{
    border-radius: 20px !important;
}